<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Action to crop images with high quality, same as the default crop image action but with high quality.</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryPhotos</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string></string>
		<key>AMDInput</key>
		<string></string>
		<key>AMDNote</key>
		<string></string>
		<key>AMDOptions</key>
		<string></string>
		<key>AMDRelatedActions</key>
		<string></string>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string></string>
		<key>AMDSummary</key>
		<string>Action to crop images with high quality, same as the default crop image action but with high quality.</string>
		<key>AMDWebsite</key>
		<string></string>
	</dict>
	<key>AMIconName</key>
	<string>icons.icns</string>
	<key>AMKeywords</key>
	<array/>
	<key>AMName</key>
	<string>Crop image HQ</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string></string>
		<key>ApplyButton</key>
		<string></string>
		<key>IgnoreButton</key>
		<string></string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string></string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.lmbn.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 LMBN. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>Crop_image_HQ</string>
</dict>
</plist>
